@model ProjetoCinema.Models.Bomboniere

@{
    ViewData["Title"] = "Create";
}

<h1>Cadastrar Combos</h1>

<h4>Bomboniere</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pipocas" class="control-label"></label>
                <input asp-for="Pipocas" class="form-control" />
                <span asp-validation-for="Pipocas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bebidas" class="control-label"></label>
                <input asp-for="Bebidas" class="form-control" />
                <span asp-validation-for="Bebidas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guloseimas" class="control-label"></label>
                <input asp-for="Guloseimas" class="form-control" />
                <span asp-validation-for="Guloseimas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
