@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Política de Privacidade</h1>

<p>
    Este site é mantido e operado por CineGlam.
    <br />
    <br />
    Nós coletamos e utilizamos alguns dados pessoais que pertencem àqueles que utilizam nosso site. Ao fazê-lo, agimos na qualidade de controlador desses dados e estamos sujeitos às disposições da Lei Federal n13.709/2018 (Lei Geral de Proteção de Dados Pessoais LGPD).
    <br />
    Nós cuidamos da proteção de seus dados pessoais e por isso disponibilizamos esta política de privacidade que contém informações importantes sobre:
    <br />
    <br />
    - Quem deve utilizar nosso site;
    <br />
    - Quais dados coletamos e o que fazemos com eles;
    <br />
    - Seus direitos em relação aos seus dados pessoais e como entrar em contato conosco.
    <br />
    <br />
    1. Dados que coletamos e motivos da coleta;
    <br />
    Nosso site coleta e utiliza alguns dados pessoais de nossos usuários de acordo com o disposto nesta seção.
    <br />
    <br />
    2. Dados pessoais fornecidos expressamente pelo usuário;
    <br />
    Nós coletamos os seguintes dados pessoais que nossos usuários nos fornecem expressamente ao utilizar nosso site:
    <br />
    - Nome completo
    <br />
    A coleta destes dados ocorre nos seguintes momentos:
    <br />
    - Ao fazer a compra
    <br />
    Os dados fornecidos por nossos usuários são coletados com as seguintes finalidades:
    <br />
    - Para que o usuário possa adquirir nossos produtos ou serviços.
    <br />
    <br />
    3. Dados sensíveis;
    <br />
    Não serão coletados dados sensíveis de nossos usuários assim entendidos aqueles definidos nos arts. 11 e seguintes da Lei de Proteção de Dados Pessoais. Assim, não haverá coleta de dados sobre origem racial ou étnica, convicção religiosa, opinião política, filiação a sindicato ou a organização de caráter religioso, filosófico ou político, dado referente à saúde ou à vida sexual, dado genético ou biométrico, quando vinculado a uma pessoa natural
    <br />
    <br />
    4. Dados de crianças e adolescentes;
    <br />
    Nós coletamos os seguintes dados de crianças e adolescentes:
    <br />
    - Nome completo
    <br />
    A coleta de dados de crianças e adolescentes acontece nos seguintes momentos:
    <br />
    - No momento em que o usuário preenche os dados
    <br />
    Os dados de crianças e de adolescentes que coletamos são utilizados exclusivamente com as seguintes finalidades:
    <br />
    - Para que os serviços destinados a crianças e adolescentes possam ser acessados
    <br />
    O tratamento de dados de crianças e adolescentes é realizado com base no melhor interesse da criança ou do adolescente.
</p>
