@model ProjetoCinema.Models.Cadastro

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Cadastro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ClienteNome" class="control-label"></label>
                <input asp-for="ClienteNome" class="form-control" />
                <span asp-validation-for="ClienteNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EscolhaFilme" class="control-label"></label>
                <input asp-for="EscolhaFilme" class="form-control" />
                <span asp-validation-for="EscolhaFilme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HrSessao" class="control-label"></label>
                <input asp-for="HrSessao" class="form-control" />
                <span asp-validation-for="HrSessao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lugar" class="control-label"></label>
                <input asp-for="Lugar" class="form-control" />
                <span asp-validation-for="Lugar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pedidos" class="control-label"></label>
                <input asp-for="Pedidos" class="form-control" />
                <span asp-validation-for="Pedidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entrada" class="control-label"></label>
                <input asp-for="Entrada" class="form-control" />
                <span asp-validation-for="Entrada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="button" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="lista">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
