html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #C7B8DE;
}
.container-fluid {
    background-color: purple;
}
.navbar{
    padding: 0 !important;
}
.navbar-brand {
    padding: 0 !important;
}
.navbar-brand img {
    hight: 10px;
    widht: 10px;
}