html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}
body {
    background-color: #E8DAFD;
}

.container-fluid {
    background-color: #7F39FF;
    color: white;
}
.navbar{
    padding: 0 !important;
}
.navbar-brand {
    padding: 0 !important;
}
.navbar-brand img{
    width: 170px;
}
.footer {
    background-color: #7F39FF;
}
.button {
    background-color: #6A599D;
    color: white;
    border: 2px solid #6A599D;
    border-radius: 3px;
    padding: 1px 4px;
    text-decoration: none;
    font-weight: 400;
    margin-top: 10px;
    transition-duration: 1s;
}
.button:hover {
    color: white;
    background-color: #7F39FF;
    border: 2px solid #7F39FF;
    transition-duration: 2s;
}
.lista {
    color: #6A599D;
    text-decoration: none;
}
.lista:hover {
    color: #6A599D;
}
.policy {
    color: white;
}
